.head {
    display: flex;
    flex-basis: 879px;
    max-width: 879px;
    margin: 0 auto;
    align-items: center;
    background: #fff;
    padding-right: 37px;
    box-sizing: border-box
}

.head__picture {
    margin-right: 29px;
}

.head__info {
    background: #fff;
   
}

.head__title {
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 0.03em;
    font-weight: bold;
    margin-bottom: 19px;
    font-family: KievitPro, Arial, sans-serif;
}

.head__text {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 6px;
    font-family: KievitPro, Arial, sans-serif;
    font-weight: 300;
}

.head__button {
    font-size: 17px;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 3px solid #FF4641;
    font-family: KievitPro, Arial, sans-serif;
}
