@font-face {
    font-family: 'KievitPro';
    src: url('./fonts/KievitPro/KievitPro-Medium.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'KievitPro';
    src: url('./fonts/KievitPro/KievitPro-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: 'KievitPro';
    src: url('./fonts/KievitPro/KievitPro-Light.woff');
    font-weight: 300;
}

@font-face{
    font-family: 'KievitPro';
    src: url('./fonts/KievitPro/KievitPro-Regular.woff');
    font-weight: 400;
}

@font-face{
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Regular.ttf')
}


body {
    background: #F9F7F2;
}