.chat-block {
    max-width: 879px;
    display: flex;
    margin: 50px auto;
}

.chat-block__single {
    width: 415px;
    
    box-sizing: border-box;
   
}

.chat-block__line {
    background: #EBE9E4;
    width: 2px;
    margin: 0 24px 0 23px;
}